/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 0px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */

textarea {
    max-width: 280px;
}

/*cambios de colores*/
.bg-dark {
    background-color: #222222 !important;
    border-color: #080808 !important;
}
.navbar-dark .navbar-nav .nav-link:hover, .navbar-collapse .navbar-sidenav > .nav-item:hover,
.sidenav-second-level in collapse show > li > a:hover,
.navbar-dark .navbar-brand:hover {
    color: white !important;
}
.navbar-dark .navbar-nav .nav-link {
    color: #999999 !important;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }
    .body-content {
        padding: 0;
    }
}


/* Pie de pagina de la pagina maestra Siste.master */
body.sticky-footer {
    margin-bottom: 56px;
}

body.sticky-footer .content-wrapper {
    min-height: calc(100vh - 56px - 56px);
}

footer.sticky-footer {
    position: absolute; /*Error para dejar bien el pie de pagina en el fondo*/
    right: 0;
    bottom: unset;
    width: 100%;
   /* height: 56px; Grosor de pie de pagina*/
    background-color: #e9ecef;
    line-height: 30px;
}
#sitemaster footer.sticky-footer {
    bottom: 0 !important;
}

@media (min-width: 992px) {
    footer.sticky-footer {
        width: calc(100%);
       
        
    }
}

@media (min-width: 992px) {
    body.sidenav-toggled footer.sticky-footer {
        width: calc(100% - 55px);
        bottom: 0;
    }
}
/* Pie de pagina de la pagina maestra Siste.master */

@media screen and ( min-height: 701px ) {
    footer.sticky-footer {
        bottom: 0;
    }
}